doctype xml
rss(version='2.0', xmlns:atom='<a href="http://www.w3.org/2005/Atom" rel="nofollow">http://www.w3.org/2005/Atom</a>')
    channel
        title deviblog
        link <a href="https://blog.terminaldweller.com" rel="nofollow">https://blog.terminaldweller.com</a>
        atom:link(href='<a href="https://blog.terminaldweller.com/feed/rss" rel="nofollow">https://blog.terminaldweller.com/feed/rss</a>', rel='self', type='application/rss+xml')
        description I talk about software here.
        language en-US
        if posts.length
            lastBuildDate= new Date(posts[0].lastUpdatedAt).toUTCString()
        each post in posts
            item
                title= post.title
                link <a href="https://blog.terminaldweller.com/blog/#{post.slug}" rel="nofollow">https://terminaldweller.com/blog/#{post.slug}</a>
                description
                    | <![CDATA[
                    | !{post.teaser}
                    p: a(href='<a href="https://blog.terminaldweller.com/blog/#{post.slug} rel="nofollow">https://blog.terminaldweller.com/blog/#{post.slug}</a>') 'Read more &raquo;'
                    | ]]>
                pubDate= new Date(post.lastUpdatedAt).toUTCString()
                guid(isPermaLink='false') <a href="https://blog.terminaldweller.com/blog/#{post.slug}"
